* {
    box-sizing: border-box;
  }
  @font-face {
    font-family: Lora;
    src: url(../fonts/Lora/static/Lora-Medium.ttf);
 }
 
html,body{
    height:fit-content;
    background-color: white;
}
body{
 
    margin: 0 auto;
}
.roww{
    width: auto;
    display: flex;
    flex-direction: row;
    height: fit-content;
}


.container-fluid{
    padding:0;
}

.rndBtn {
    border-radius: 20px;
}

.columnn {
float:left;
padding:10px;
min-height: 0;

}
.left {
    position: sticky;
    top: 0;
    height: 100vh;
    float:left;
    background-color: white;
    border-right: 1px solid rgb(0, 0, 0,0.1);
    flex-basis: 5%;
}

li{
    padding: 0 0 80px;
    height: 0;
}
#left-hr{
    padding: 0 0 40px;
}
.right {
    position: sticky;
    top: 0;
    height: 100vh;
    background-color: white;
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    border-left: 1px solid rgb(0, 0, 0,0.1);   
}
.center {
    background-color: white;
    flex-basis: 70%;
}

.nav{
    transform: translate(0,-5em);
}

.nav-item{
    transform: scale(0.45);
}

.leftAssets {
    padding: 0pt;
    width: 5em;
    height: 5em;
    margin: 0em auto 1em;
    transition: all 0.3s;

}
.leftAssets:hover {
    cursor: pointer;
    transform: scale(1.2) ;

}
#navBar {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.rightBlock {
    display: flex;
    flex-direction: column;
    height: 100%;
    
}

.post_demo_placeholder {
    display: flex;

    padding: 3px;
    margin: 10px 0px 30px 5px;
    height: auto;
    align-items: center;

}
.post_demo_placeholder:hover{
    cursor: pointer;

}
.userphoto {
    width: 20%;
    height: 100%;
    background-size: cover;
    border-radius: 50%;
    min-width: 30px;
    max-width: 200px;
}
.thumbnail {
    width: 20%;
    height: 20%;
    background-size: cover;
}

.search {
    width: 90%;
    height: 10%;
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 5px;
}

/*** STYLES ***/

.usr_info_placeholder{
    padding: 10px;
    display: flex;
    flex-direction: row;


}
.helperlinks {
    padding: 5px;
    margin: 10px 10px 0px 0px;
    font-size: small;
    margin-top: auto;
}
#maincontent {
    max-width: 40vw;
    text-align: justify;
     line-height: 30px;
    font-family: Lora;
}
#allcontent {
    display: flex; 
    flex-direction: column; 
    padding: 70px;
}

@media (max-width:800px) {
    .left{
        display: none;
    }
    .center{
        flex-grow: 1;
        flex-basis: 100%;
        order: 1;
    }
    .row{
        flex-direction: column;
    }
    .right{
        order: 2;
    }
    #maincontent{
        text-align: justify;
        line-height: 30px;
    
        font-size: small;
    }
    #allcontent {
        padding: 15px !important;
    }

    
    
}

@media (min-width:800px) and (max-width:1000px) {
    
    
    .center{
        flex-grow: 1;
        flex-basis: 100%;
        order: 1;
        background-color: aqua;
    }

    .right{
        order: 2;
    }
    #maincontent{
        text-align: justify;
        line-height: 30px;
    
        font-size: medium;
    }
    #allcontent {
        padding: 15px !important;
    }
    .post_demo_placeholder {
        display: flex;
    
        padding: 0px;
        margin: 0px 0px 0px 0px;
        height: 15vh;
        align-items: center;

    
    }
    .post_demo_placeholder  strong {
        font-size: smaller !important;

       

    }
    .helperlinks{
        padding: 1px;
        margin: 3px 3px 0px 0px;
        font-size: small;
    }
    
    #rightpublisher strong,small{
        font-size: x-small;
    
    }
    .usr_info_placeholder{
        padding: 0px; 
        width: fit-content;   
    }
    .usr_info_placeholder img{
        width: 6vw !important;
        height: 6vh !important;
    }
    
}