#options li{
    opacity: 70%;
    font-size: 16px;
    margin: 0  30px 0 0;
    padding-bottom: 20px;
    cursor: pointer;
}

.active{
    opacity: 100% !important;
    border-bottom: solid 1px;
    z-index: 1;
}
hr{
    opacity: 30%;
}

a{
    text-decoration: none;
}
.renderPost{
    animation: render 0.4s;
}

@keyframes render{
    from{
        transform: translate(-1em,0);
        opacity: 40%;
    }
    to{
        transform: translate(0,0);
        opacity: 100%;
    }
}