#options li{
    height: fit-content;
    opacity: 70%;
    font-size: 16px;
    margin: 0  30px 0 0;
    padding-bottom: 20px;
    cursor: pointer;
}

.active{
    opacity: 100% !important;
    border-bottom: solid 1.5px;
    z-index: 1;
}
#nav-hr{
    top: -17px;
    opacity: 30%;
}

a{
    text-decoration: none;
}
.renderPost{
    animation: render 0.4s;
}
.storiesList{
    background-color: rgb(246, 246, 246);
    border: solid 1px rgb(217, 217, 217);
    border-radius: 2px;
    padding: 2em;
}

@keyframes render{
    from{
        transform: translate(-1em,0);
        opacity: 40%;
    }
    to{
        transform: translate(0,0);
        opacity: 100%;
    }
}